*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#fff;
    min-height:100vh;
}

.container{
    display:flex;
    min-height:100vh;
}

/* LEFT */
.form-section{
    width:55%;
    padding:60px 90px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.back-btn{
    text-decoration:none;
    color:#000;
    font-size:28px;
    margin-bottom:40px;
}

h1{
    font-size:52px;
    font-weight:700;
    margin-bottom:15px;
}

h1 span{
    color:#c95c2a;
}

.subtitle{
    color:#777;
    margin-bottom:60px;
    font-size:18px;
}

.form-group{
    margin-bottom:25px;
}

.form-group label{
    display:block;
    margin-bottom:10px;
    font-weight:600;
}

.form-group input{
    width:100%;
    height:60px;
    border:1px solid #d7d7d7;
    border-radius:15px;
    padding:0 20px;
    font-size:16px;
    outline:none;
}

.form-group input:focus{
    border-color:#c95c2a;
}

.form-group small{
    display:block;
    margin-top:10px;
    color:#555;
}

.terms{
    margin:25px 0;
    line-height:1.8;
    color:#555;
}

.terms a{
    color:#000;
    font-weight:600;
}

button{
    width:350px;
    height:65px;
    border:none;
    border-radius:15px;
    background:#b88760;
    color:white;
    font-size:20px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#a87650;
}

/* RIGHT */
.image-section{
    width:45%;
    background:#5b220f;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.image-section img{
    width:90%;
    max-width:650px;
}

/* Responsive */
@media(max-width:992px){

    .container{
        flex-direction:column;
    }

    .form-section,
    .image-section{
        width:100%;
    }

    .image-section{
        min-height:400px;
    }

    h1{
        font-size:38px;
    }

    button{
        width:100%;
    }
}
